<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>:: Электронная база данных юридических лиц, филиалов (представительств) ::</title>
            <script src="minjust_files/framework.js" type="text/javascript"></script><script src="minjust_files/ui.js" type="text/javascript"></script><link class="component" href="minjust_files/eAFrvajdHLp8hjQAEgwDtA__.css" rel="stylesheet" type="text/css"><link class="user" href="minjust_files/layout.css" rel="stylesheet" type="text/css"><link class="user" href="minjust_files/theme.xml" rel="stylesheet" type="text/css"><link class="user" href="minjust_files/theme.css" rel="stylesheet" type="text/css"><link class="user" href="minjust_files/navigation.css" rel="stylesheet" type="text/css"><link rel="shortcut icon" href="https://register.minjust.gov.kg/register/favicon.ico">
        </head>
        <body>
            <div id="wrapper">
                <div id="header">
                <!-- Таблица хэдер -->
      <table width="100%" height="90" cellspacing="0" cellpadding="0" border="0">
      	<tbody><tr>
      	    <td style="background: url(/register/images/top_bg.jpg) repeat-x; height: 97px;">
      		    <div style="background: url(/register/images/top_gerb.jpg) left no-repeat; height: 97px; text-align: center;"><img src="minjust_files/min_just.png">
      		    </div>
      		</td>
      		<td style="background: url(/register/images/top_flag.jpg) right no-repeat; width: 80px;">
      		</td>
      	</tr>
      </tbody></table>
                
                    <div id="logo">
                    </div>
                    <!-- end div#logo -->
                    <div id="menu1">
                        <div id="logout" style="float: right; margin: 0 10px 0 0"><a href="https://register.minjust.gov.kg/register/login.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7" id="menuLoginId">Вход</a>
                        </div><div id="j_id15" style="float: right; margin: 0px 10px 0 0"><a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;actionMethod=SearchAction.xhtml%3AlocaleChanger.change%28%27ky%27%29&amp;cid=3060121" id="j_id16">КЫР</a> <a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;actionMethod=SearchAction.xhtml%3AlocaleChanger.change%28%27ru%27%29&amp;cid=3060121" id="j_id19">РУС</a></div>
                    </div>
                    <!-- end div#menu -->
                </div>
                <!-- end div#header -->

                <div id="infoLine1">
  					  <div style="margin:15px 30px auto 30px;float:right">
   					 </div>

<!-- 
                    <div id="currentDate">
                        <h:outputFormat value="{0,date, dd.MM.yyyy}">
                            <f:param value="2020-09-10 21:18:54.049"/>
                        </h:outputFormat>
                    </div>
      -->           </div>
                <div style="clear: right"></div>
                <div id="page">
                    <div id="page-bgtop">
                        <div id="content">
<form id="registerSearch" name="registerSearch" method="post" action="/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7" class="edit" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="registerSearch" value="registerSearch">
<div class="rich-stglpanel " id="registerSearch:j_id22"><script type="text/javascript">SimpleTogglePanelManager.add(new SimpleTogglePanel("registerSearch:j_id22", 
            													"true",{onexpand: '',oncollapse: ''}
            													
            							 ));</script><div class="rich-stglpanel-header " id="registerSearch:j_id22_header" onclick="SimpleTogglePanelManager.toggleOnAjax(event,'registerSearch:j_id22');A4J.AJAX.Submit('registerSearch',event,{'similarityGroupingId':'registerSearch:j_id22','actionUrl':'/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7','parameters':{'registerSearch:j_id22':'registerSearch:j_id22'} } )"><div class="rich-stglpanel-marker"><div class="rich-stglpnl-marker" id="registerSearch:j_id22_switch_on">«</div><div class="rich-stglpnl-marker" id="registerSearch:j_id22_switch_off" style="display: none">»</div></div>Фильтр для поиска в реестре&nbsp;</div><div class="rich-stglpanel-body " id="registerSearch:j_id22_body"><div id="registerSearch:j_id23">

    <div class="prop">
        <span class="name" style="width:200px">Наименование
        </span>
        <span class="value"><input id="registerSearch:j_id23:fullnameRu" type="text" name="registerSearch:j_id23:fullnameRu">
        </span>
    </div></div><div id="registerSearch:j_id28">

    <div class="prop">
        <span class="name" style="width:200px">Рег.№
        </span>
        <span class="value"><input id="registerSearch:j_id28:number" type="text" name="registerSearch:j_id28:number">
        </span>
    </div></div><div id="registerSearch:j_id33">

    <div class="prop">
        <span class="name" style="width:200px">ИНН
        </span>
        <span class="value"><input id="registerSearch:j_id33:tin" type="text" name="registerSearch:j_id33:tin" value="00901199710162">
        </span>
    </div></div><div id="registerSearch:j_id38">

    <div class="prop">
        <span class="name" style="width:200px">Код ОКПО
        </span>
        <span class="value"><input id="registerSearch:j_id38:okpo" type="text" name="registerSearch:j_id38:okpo">
        </span>
    </div></div><div id="registerSearch:j_id68">

    <div class="prop">
        <span class="name" style="width:200px">Основной вид деятельности
        </span>
        <span class="value"><input id="registerSearch:j_id68:baseBusiness" type="text" name="registerSearch:j_id68:baseBusiness">
        </span>
    </div></div><div id="registerSearch:j_id73">

    <div class="prop">
        <span class="name" style="width:200px">Данные учредителя (участника) физического/юридического лица
        </span>
        <span class="value"><input id="registerSearch:j_id73:founder" type="text" name="registerSearch:j_id73:founder">
        </span>
    </div></div><div id="registerSearch:j_id78">

    <div class="prop">
        <span class="name" style="width:200px">Организационно-правовая форма
        </span>
        <span class="value"><select name="registerSearch:j_id78:j_id82" size="1">	<option value="org.jboss.seam.ui.NoSelectionConverter.noSelectionValue" selected="selected">Все</option>
	<option value="3">Полное товарищество</option>
	<option value="8">Крестьянское (фермерское) хозяйство</option>
	<option value="16">Фондовая биржа</option>
	<option value="17">Объединение юридических лиц (ассоциация, союз)</option>
	<option value="208">Ассоциация водопользователей</option>
	<option value="209">Объединение работодателей</option>
	<option value="1110">Центральный Банк Кыргызской Республики</option>
	<option value="1112">Торгово-промышленная палата Кыргызской Республики</option>
	<option value="4">Коммандитное товарищество</option>
	<option value="9">Коммерческий кооператив</option>
	<option value="14">Религиозная организация</option>
	<option value="18">Политическая партия</option>
	<option value="19">Кредитный союз</option>
	<option value="207">Территориальное общественное самоуправление</option>
	<option value="211">Негосударственный пенсионный фонд</option>
	<option value="1109">Малое предприятие</option>
	<option value="1111">Совместное предприятие</option>
	<option value="32">Коллегия адвокатов
</option>
	<option value="33">Адвокатское бюро
</option>
	<option value="29">Община</option>
	<option value="30">Ссудно-сберегательная жилищно-строительная касса
</option>
	<option value="23">Объединение профсоюзных союзов</option>
	<option value="22">Профессиональный союз</option>
	<option value="2">Муниципальное предприятие</option>
	<option value="24">Адвокатура</option>
	<option value="206">Закрытое акционерное общество</option>
	<option value="10">Некоммерческий кооператив</option>
	<option value="15">Товарищество собственников жилых и нежилых помещений в многоквартирном доме
</option>
	<option value="6">Общество с дополнительной ответственностью</option>
	<option value="12">Общественный фонд</option>
	<option value="11">Общественное объединение</option>
	<option value="13">Учреждение</option>
	<option value="7">Открытое акционерное общество</option>
	<option value="20">Филиал </option>
	<option value="1">Государственное предприятие</option>
	<option value="5">Общество с ограниченной ответственностью</option>
	<option value="21">Представительство </option>
</select>
        </span>
    </div></div><div id="registerSearch:j_id85">

    <div class="prop">
        <span class="name" style="width:200px">Руководитель
        </span>
        <span class="value"><input id="registerSearch:j_id85:chief" type="text" name="registerSearch:j_id85:chief">
        </span>
    </div></div><div id="registerSearch:j_id90">

    <div class="prop">
        <span class="name" style="width:200px">Область/Город республиканского значения
        </span>
        <span class="value"><input id="registerSearch:j_id90:region" type="text" name="registerSearch:j_id90:region">
        </span>
    </div></div><div id="registerSearch:j_id95">

    <div class="prop">
        <span class="name" style="width:200px">Район/Город областного значения
        </span>
        <span class="value"><input id="registerSearch:j_id95:district" type="text" name="registerSearch:j_id95:district">
        </span>
    </div></div><div id="registerSearch:j_id100">

    <div class="prop">
        <span class="name" style="width:200px">Город (село, поселок и др.)
        </span>
        <span class="value"><input id="registerSearch:j_id100:city" type="text" name="registerSearch:j_id100:city">
        </span>
    </div></div><div id="registerSearch:j_id105">

    <div class="prop">
        <span class="name" style="width:200px">Улица (проспект, бульвар, переулок и т.п.)
        </span>
        <span class="value"><input id="registerSearch:j_id105:street" type="text" name="registerSearch:j_id105:street">
        </span>
    </div></div><div id="registerSearch:j_id110">

    <div class="prop">
        <span class="name" style="width:200px">№ дома
        </span>
        <span class="value"><input id="registerSearch:j_id110:house" type="text" name="registerSearch:j_id110:house">
        </span>
    </div></div><div id="registerSearch:j_id115">

    <div class="prop">
        <span class="name" style="width:200px">№ квартиры (офиса, комнаты и т.п.)
        </span>
        <span class="value"><input id="registerSearch:j_id115:house" type="text" name="registerSearch:j_id115:house">
        </span>
    </div></div><div id="registerSearch:j_id120">

    <div class="prop">
        <span class="name" style="width:200px">Соответствие
        </span>
        <span class="value"><table id="registerSearch:j_id120:logic" class="radio">
	<tbody><tr>
<td>
<input type="radio" checked="checked" name="registerSearch:j_id120:logic" id="registerSearch:j_id120:logic:0" value="and"><label for="registerSearch:j_id120:logic:0"> И 	</label></td>
<td>
<input type="radio" name="registerSearch:j_id120:logic" id="registerSearch:j_id120:logic:1" value="or"><label for="registerSearch:j_id120:logic:1"> ИЛИ</label></td>
	</tr>
</tbody></table>
        </span>
    </div></div></div></div>

      <div class="actionButtons"><input id="registerSearch:search" type="submit" name="registerSearch:search" value="Поиск" class="find"><input onclick="location.href='/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?cid=3060121'; return false;" id="registerSearch:reset" class="reset" value="Очистить" type="button">
      </div><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="j_id1">
</form>
<form id="searchActionForm" name="searchActionForm" method="post" action="/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="searchActionForm" value="searchActionForm">
<div class="rich-panel " id="searchActionForm:j_id129"><div class="rich-panel-header " id="searchActionForm:j_id129_header">Результаты поиска в реестре (1)</div><div class="rich-panel-body " id="searchActionForm:j_id129_body">
        <div class="results" id="searchAction"><table class="rich-table " id="searchActionForm:searchAction" cellspacing="0" cellpadding="0" border="0"><colgroup span="8"></colgroup><thead class="rich-table-thead"><tr class="rich-table-subheader "><th class="rich-table-subheadercell  " scope="col" id="searchActionForm:searchAction:j_id138header"><div id="searchActionForm:searchAction:j_id138header:sortDiv">
                N</div></th><th class="rich-table-subheadercell  " scope="col" id="searchActionForm:searchAction:j_id148header"><div id="searchActionForm:searchAction:j_id148header:sortDiv">
                Наименование</div></th><th class="rich-table-subheadercell  " scope="col"><a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?sort=s.registrationCode&amp;dir=asc&amp;city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;cid=3060121" id="searchActionForm:searchAction:j_id154" class="columnHeader">Рег.№ </a></th><th class="rich-table-subheadercell  " scope="col"><a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?sort=s.createType&amp;dir=asc&amp;city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;cid=3060121" id="searchActionForm:searchAction:j_id159" class="columnHeader">Статус </a></th><th class="rich-table-subheadercell  " scope="col"><a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?sort=s.tin&amp;dir=asc&amp;city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;cid=3060121" id="searchActionForm:searchAction:j_id164" class="columnHeader">ИНН </a></th><th class="rich-table-subheadercell  " scope="col"><a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?sort=s.statSubCode&amp;dir=asc&amp;city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;cid=3060121" id="searchActionForm:searchAction:j_id169" class="columnHeader">Код ОКПО </a></th><th class="rich-table-subheadercell  " scope="col"><a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?sort=s.orderDate&amp;dir=asc&amp;city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;cid=3060121" id="searchActionForm:searchAction:j_id179" class="columnHeader">Дата </a></th><th class="rich-table-subheadercell  " scope="col" id="searchActionForm:searchAction:j_id189header"><div id="searchActionForm:searchAction:j_id189header:sortDiv">Действие</div></th></tr></thead><tbody id="searchActionForm:searchAction:tb"><tr class="rich-table-row rich-table-firstrow "><td class="rich-table-cell " id="searchActionForm:searchAction:0:j_id138">1</td><td class="rich-table-cell " id="searchActionForm:searchAction:0:j_id148">Общество с ограниченной ответственностью "Международный бизнес центр научно-технической информации"<span class="rich-tool-tip " id="searchActionForm:searchAction:0:j_id151" style="z-index: 99; visibility: hidden; display: none; left: 360px; top: 884px;"><span id="searchActionForm:searchAction:0:j_id151content">Руководитель: Сатыбалдиев Зарыл Усупович <br></span><span id="searchActionForm:searchAction:0:j_id151script" style="display:none"><script type="text/javascript" id="scriptsearchActionForm:searchAction:0:j_id151">
new ToolTip("searchActionForm:searchAction:0:j_id151","searchActionForm:searchAction:0:j_id148",{'showEvent':'mouseover'} );
</script></span></span></td><td id="searchActionForm:searchAction:0:j_id153" class="rich-table-cell ">1-3300-ООО</td><td id="searchActionForm:searchAction:0:j_id158" class="rich-table-cell ">Перерегистрация</td><td id="searchActionForm:searchAction:0:j_id163" class="rich-table-cell ">00901199710162</td><td id="searchActionForm:searchAction:0:j_id168" class="rich-table-cell ">21675920</td><td id="searchActionForm:searchAction:0:j_id178" class="rich-table-cell "> 19.09.2001</td><td class="rich-table-cell action" id="searchActionForm:searchAction:0:j_id189"><a href="https://register.minjust.gov.kg/register/Public.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?publicId=1" id="searchActionForm:searchAction:0:j_id191"><img src="minjust_files/application_view_detail.png"><span class="rich-tool-tip " id="searchActionForm:searchAction:0:j_id193" style="z-index: 99; visibility: visible; display: none;"><span id="searchActionForm:searchAction:0:j_id193content">Просмотр</span><span id="searchActionForm:searchAction:0:j_id193script" style="display:none"><script type="text/javascript" id="scriptsearchActionForm:searchAction:0:j_id193">
new ToolTip("searchActionForm:searchAction:0:j_id193","searchActionForm:searchAction:0:j_id191",{'showEvent':'mouseover'} );
</script></span></span></a></td></tr></tbody></table>
        </div></div></div><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="j_id1">
</form>

    <div class="tableControl">

    </div>

                        </div>
                        <!-- end div#content -->
                        <div id="sidebar">
                        <ul>                        
		<li>
		<h2>Общее меню</h2>
		<ul class="navigation">
			<li><a href="https://register.minjust.gov.kg/register/home.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7" id="menuHomeId1">Начало</a></li>					
			<li><a href="https://register.minjust.gov.kg/register/About.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7" id="menuAboutId">О системе</a></li>
				
	<li><a href="https://register.minjust.gov.kg/register/SearchAction.seam;jsessionid=E4AD53EAE87455D870617C4ED709F6D7?city=&amp;founder=&amp;chief=&amp;house=&amp;room=&amp;okpo=&amp;number=&amp;baseBusiness=&amp;fullnameRu=&amp;street=&amp;district=&amp;tin=00901199710162&amp;logic=and&amp;region=&amp;cid=3060121" id="j_id208">Поиск</a>
	</li>
		</ul>
					</li>
					</ul></div>
                        <!-- end div#sidebar -->
                        <div style="clear: both; height: 1px"></div>
                    </div>
                    <!-- end div#page-bgtop -->
                </div>
                <!-- end div#page -->

                <div id="footer">
                </div>
                <div class="footer"></div>
            </div>
        
    </body></html>